* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #34495e;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    max-width: 800px;
    max-height: 500px;
    /* border: 2px solid #cecece;  */
    position: absolute;
    top: 15vh;
    left: 25vw;
    table-layout: fixed;
    align-items: center;
    justify-content: center;
}
tr, td{
    table-layout: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
tr{
    padding-top: 10px;
    color: white;
}
td{
    width: 25vh;
    height: 50%;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin: 10px;
}
.mostrarNivel{
    border: 0px solid black;
}
/* .espacioFormulario{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
}  */
.formulario{
    width: 80vw;
    height: 80vh;
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
}
::placeholder {
    color: #cecece;
}
.formulario label{
    text-align: center;
    height: 15vh;
    color: white;
}
.entrada{
    border: 0;
    background: none;
    display: block; 
    margin: 2vh auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 7px 5px;
    width: 45vw;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 16px;
}
.entrada:focus {
    width: 60vw;
    border-color: #2ecc71;
}
/* .btn-start{
    width: 300px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
    background: #19d3da;
    color: white;
    font-size: 2rem;
    position: relative;
    top: 80vh;
    left: 15vw;
} */
#btnEmpezar {
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 7px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 13px;
    cursor: pointer;
    width: 30vw;
    height: 7vh;
    position: relative;
    top: 70vh;
}
#btnEmpezar:hover{
    background: #2ecc71;
}
.hide{
    display: none;
}
.azul{
    background-color: #11e0c4;
}
.rojo{
    background-color: #ff414d;
}
@media screen and (max-width:850px){
    table{
        left: 22vw;
    }
}  
@media screen and (max-width: 500px){
    table{
        width: 100%;
        height: 100%;
        left: 0;
    }
} 